body{
  margin: 0; padding: 0}
.caja_principal{
  width: 100%;
  height: 600px;

  margin: 0 auto;
  position: relative;
  text-align: center;
  display: inline-block;
}
.texto_encima{
  position: absolute;
  top: 30px; color: #fff;
  font-family:  "fangsong";
  font-size: 60px;
  text-align: center;
  width: 100%;
  height: 450px;
  box-sizing: border-box;

  padding-bottom: 25px;
  text-align: center;
}
.datos_ingreso{
  border: 1px solid rgba(222,218,218,1) ;
  display: block;
  border-radius: 25px;
  margin-bottom: 10px;
  width: 250px;
  height: 30px;
font-size: 20px;
  margin-top: 20px;
  background: rgba(222,218,218,1);
  color: rgba(111,109,109,1);
}
.logo{


  width: 150px;
  height: 150px;
  margin:0 auto;
  position: center;
  margin-top: 10px;
  box-sizing: border-box;
}
.texto_EPN{

  color: #fff;
  font-family:  "fangsong";
  font-size: 60px;
  text-align: center;
  width: 100%;
  height: 100px;
  box-sizing: border-box;

  padding-bottom: 25px;
  padding-top: 13px;


}
.formulario{
  width: 17%;
  height: 150px;

  position: center;
  margin: 0 auto;

}

.btn_iniciar_sesion{
  background: rgba(254,74,81,1);
  color: #fff;
  border-radius: 15px;
  width: 150px;
  height: 30px;
  border: 1px solid rgba(254,74,81,1);
  font-size: 20px;

}
.cuadros_imagenes{
  position: absolute;
  width: 250px;
  height: 250px;
  margin-left: 270px;
  top: 500px;
  z-index: 3;
  border:4px solid #fff;
  float: left;
  box-sizing: border-box;

  box-sizing: border-box;
}
.cuadros_imagenes img{
  width: 242px;
  height: 242px;
}
.cuadros_imagenes2{
  position: absolute;
  width: 250px;
  height: 250px;
  left: 540px;
  top: 500px;
  z-index: 4;
  border:4px solid #fff;
  float: left;
  padding-right: 5px;
  box-sizing: border-box;
}
.cuadros_imagenes2 img{
  width: 242px;
  height: 242px;
}
.cuadros_imagenes3{
  position: absolute;
  width: 250px;
  height: 250px;
  left: 810px;
  top: 500px;
  z-index: 4;
  border:4px solid #fff;
  float: left;
  padding-right: 5px;
  box-sizing: border-box;
}
.cuadros_imagenes3 img{
  width: 242px;
  height: 242px;
}
.cuadros_imagenes4{
  position: absolute;
  width: 250px;
  height: 250px;
  left: 1080px;
  top: 500px;
  z-index: 4;
  border:4px solid #fff;
  float: left;
  padding-right: 5px;
  box-sizing: border-box;
}

.cuadros_imagenes4 img{
  width: 242px;
  height: 242px;
}
