
.goals{
float: left;
  box-sizing: border-box;
  width:100%;
height: 700px;
  background: #fff0e5;
  //margin-left: 50%;

}
.what_goals{
  float: left;
  width: 38%

}
.what_goals p {
  margin-left: 90px;
  font-family: 'Apercu' ; font-size: 45px; font-weight: bold;
    color:#10162F;
  // #383736
}
.xpectative{
  margin-top: 100px;
  //height: 60px;
  margin-left: 90px;
  width: 80%;
  border-bottom: 1px solid #10162F;
  box-sizing: border-box;

}
h2{
  color: #10162F;

}
.xpectative p {
  font-weight: normal;
  margin-left: 0;
  font-family: 'Apercu' ; font-size: 20px;
   color:#383736;
  width: 85%;
  // #383736
}
.xpectative-three{

  //height: 60px;
  margin-left: 90px;
  width: 80%;
  height: 100px;
  text-align: left;
  padding-top: 15px;
  border-bottom: 1px solid #10162F;
  box-sizing: border-box;

}
.xpectative-three:hover{
  background: white;
  transition-property: opacity;
  transition-duration: 2s;
}

.career_path{
  margin-top: 45px;
  float: left;
  border: 1px solid red;  width: 53%; height: 550px;
}
/*hr {
  border:none;
  border-top:5px dotted #383736;
  letter-spacing: 2pt;
  color:#383736;
  background-color:#fff0e5;
 // height:1px;
  //width:50%;
}
*/
.cuadro_career_path{

  background: white; width: 37%; height: 35%;
  margin-left: 8.6%; margin-top: 6.5%;
  border: 1px solid #10162F ;
}
.cuadro_career_path p{
  font-family: "Segoe UI" ;
  padding-left: 20px;
  margin-left: 50px;
  font-size: 16.5px;

}
h3{
  font-family: 'Apercu'
}
h4{
  font-family: 'Apercu';
  font-weight: normal;

}
.theme{
  font-family:'Apercu' ;
  font-weight: bold;
}
.cuadro_career_path2{

  background: white; width: 37%; height: 35%;
  margin-left: 8.6%; margin-top: 6.5%;
  border: 1px solid #10162F ;
}
.cuadro_career_path2 p{
  font-family: "Segoe UI" ;
  margin-left: 15px;

}
h3{
  font-family: 'Apercu';
  margin-left: 18px;
  font-size: 21px;
}
h4{
  font-family: 'Apercu';
  font-weight: normal;
}
.theme{
  font-family:'Apercu' ;
  font-weight: bold;
  background: #fff0e5; margin-top: 45px; margin-left: 180px;
  font-size: 18px;
  height: 29px;


}
.PRO{
  background: black;
  color: white;
  width: 35px;
  font-weight: bold;
  font-family: "Segoe UI" ;
  margin-top: 18px;
  margin-left: 18px;
  float: left;
  font-size: 16.5px;
}

.catalog{
  margin-top: 600px;
  margin-left: 1150px;
  width: 18%;
  height: 60px;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 14px;

  background:#fff0e5; font-weight: bold; font-size: 22px; font-family: 'Apercu';

}
.catalog a{
  color: #5533FF;
  text-decoration: none;
}

.catalog:hover{
  background:#DBDCE0;

  transition-property: opacity;
  transition-duration: 2s;
}
.xpectative-three:hover{
  background: white;
  transition: opacity 2.5s;
}
.xpectative:hover{
  background: white;
  transition: opacity 2.5s;
}
