
<div class="goals">
  <div class="what_goals">
    <p class="what_goal">What's your goal?</p>
    <div class="xpectative">
      <h2>Build a career</h2>
      <p>Career Paths are our most complete offering, with everithing you need to land the job</p>
    </div>
    <div class="xpectative-three"><h2>Gain a skill</h2></div>
    <div class="xpectative-three"><h2>Learn a language</h2></div>
    <div class="xpectative-three"><h2>Explore a subject</h2></div>
  </div>
  <div class="career_path">
    <div class="cuadro_career_path"  style="float: left" >
      <div class="PRO">PRO</div>
      <p>Career Path</p>
      <h3>{{Carreer_path.Front_End_Engineer.subject}}</h3>
      <svg style="margin-left: 16px ; float: left" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
        <circle cx="5" cy="5" r="5"/>
      </svg>
      <svg style="float: left" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      </svg>
      <h4 style="margin-left: 50px; padding-top: 0; margin-top: 0"> {{Carreer_path.Front_End_Engineer.level}} , {{Carreer_path.Front_End_Engineer.lessons}}</h4>
      <div class="theme">
        <h4 style="font-weight: bold; padding-top: 6px; padding-left: 5px ">{{Carreer_path.Front_End_Engineer.theme}}</h4>
      </div>
    </div>



    <div class="cuadro_career_path" style="float: left">
      <div class="PRO">PRO</div>
      <p>Career Path</p>
      <h3>{{Carreer_path.Data_Scientist.subject}}</h3>
      <svg style="margin-left: 16px ; float: left" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
        <circle cx="5" cy="5" r="5"/>
      </svg>
      <svg style="float: left" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      </svg>
      <h4 style="margin-left: 50px; padding-top: 0; margin-top: 0"> {{Carreer_path.Data_Scientist.level}} , {{Carreer_path.Data_Scientist.lessons}}</h4>
      <div class="theme">
        <h4 style="font-weight: bold; padding-top: 6px; padding-left: 5px ">{{Carreer_path.Data_Scientist.theme}}</h4>
      </div>
    </div>
    <div class="cuadro_career_path2" style="float: left" >
      <div class="PRO">PRO</div>
      <p>Career Path</p>
      <h3>{{Carreer_path.Computer_Science.subject}}</h3>
      <svg style="margin-left: 16px ; float: left" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
        <circle cx="5" cy="5" r="5"/>
      </svg>
      <svg style="float: left" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      </svg>
      <h4 style="margin-left: 50px; padding-top: 0; margin-top: 0"> {{Carreer_path.Computer_Science.level}} , {{Carreer_path.Computer_Science.lessons}}</h4>
      <div class="theme">
        <h4 style="font-weight: bold; padding-top: 6px; padding-left: 5px ">{{Carreer_path.Computer_Science.theme}}</h4>
      </div>
    </div>
    <div class="cuadro_career_path2" style="float: left" >
      <div class="PRO">PRO</div>
      <p>Career Path</p>
      <h3>{{Carreer_path.Full_Stack_Engineer.subject}}</h3>
      <svg style="margin-left: 16px ; float: left" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
        <circle cx="5" cy="5" r="5"/>
      </svg>
      <svg style="float: left" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      </svg>
      <h4 style="margin-left: 50px; padding-top: 0; margin-top: 0"> {{Carreer_path.Full_Stack_Engineer.level}} , {{Carreer_path.Full_Stack_Engineer.lessons}}</h4>
      <div class="theme">
        <h4 style="font-weight: bold; padding-top: 6px; padding-left: 5px ">{{Carreer_path.Full_Stack_Engineer.theme}}</h4>
      </div>
    </div>
  </div>
  <div class="catalog"><a href="#">Browse Catalog  <svg style="color: #5533FF" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
  </svg></a></div>
</div>




