<header class="header">
  <div class="container">
    RESTAURANTE
  </div>
  <div class="cerrar_sesion"><b>CERRAR SESION</b></div>
</header>
<div class="texto_modulo">
  <b>MÓDULOS</b>
</div>
<div class="cuadro_modulos" >
  <img  style="   " [src]="imagen1" alt=""  width="100%" height="100%"  (click)="categorias()">
  <div class="texto_categorias">CATEGORÍAS DE PLATOS</div>
</div>
<div class="cuadro_modulos">
  <img  style=" " [src]="imagen2" alt=""  width="100%" height="100%" >
  <div class="texto_categorias">CLIENTES</div>
</div>
<div class="cuadro_modulos">
  <a href="../ruta-login/ruta-login.component.html" ><img  style="   " [src]="imagen3" alt=""  width="100%" height="100%"></a>
  <div class="texto_categorias">FACTURACIÓN</div>
</div>


<footer class="footer">
  &#9400; Copyright 2021 by Andres Vargas and Diego Marquez. All Rights Reserved
</footer>


