<header class="header">
  <div class="container">
    RESTAURANTE
  </div>
  <div class="cerrar_sesion"><b>CERRAR SESION</b></div>
</header>
<div class="texto_nuevo_plato">
  <b>Factura</b>
</div>
<form style="margin-left: 120px ; margin-top: 30px ; box-sizing: border-box">
  <div class="form-row">
    <div class="col-md-4 mb-3" style=" width: 90%">
      <label for="validationDefault01" class="informacion">Fecha: </label>
      <input type="text" class="form-control1" id="validationDefault01" value=""    required>
    </div>
    <div class="col-md-4 mb-3" style=" width: 90%">
      <label for="validationDefault02" class="informacion1 " >CI/RUC: </label>
      <input type="text" class="form-control" id="validationDefault02" value="" required>
    </div>
    <div class="col-md-4 mb-3" style=" width: 90%">
      <label for="validationDefault03" class="informacion1 " >Teléfono: </label>
      <input type="text" class="form-control" id="validationDefault03" value=""  required>
    </div>
    <div class="col-md-4 mb-3" style=" width: 90%">
      <label for="validationDefault04" class="informacion1 " >Cliente: </label>
      <input type="text" class="form-control" id="validationDefault04" value=""  required>
    </div>
    <div class="col-md-4 mb-3" style=" width: 90%">
      <label for="validationDefault05" class="informacion1 " >Dirección: </label>
      <input type="text" class="form-control" id="validationDefault05" value=""  required>
    </div>


  </div>

</form>
<table class="table table-dark table-striped">
  <thead class=".table-striped">
  <tr>
    <th scope="col">Cantidad</th>
    <th scope="col">Plato</th>
    <th scope="col">Precio Unitario</th>
    <th scope="col">Total</th>

  </tr>
  </thead>
  <tbody>
  <tr>

  </tr>
  </tbody>
</table>

<!--<form style="margin-left: 120px ; margin-top: 30px ; box-sizing: border-box">
  <div class="form-row">
    <div class="col-md-4 mb-4" style=" width: 90%">
      <label for="validationDefault10" class="informacion">Total Parcial: </label>
      <input type="text" class="form-control" id="validationDefault10" value=""    required>
    </div>
    <div class="col-md-4 mb-4" style=" width: 90%">
      <label for="validationDefault02" class="informacion " >CI/RUC: </label>
      <input type="text" class="form-control" id="validationDefault02" value="" required>
    </div>
    <div class="col-md-4 mb-4" style=" width: 90%">
      <label for="validationDefault03" class="informacion " >Teléfono: </label>
      <input type="text" class="form-control" id="validationDefault03" value=""  required>
    </div>
    <div class="col-md-4 mb-4" style=" width: 90%">
      <label for="validationDefault04" class="informacion " >Cliente: </label>
      <input type="text" class="form-control" id="validationDefault04" value=""  required>
    </div>
    <div class="col-md-4 mb-4" style=" width: 90%">
      <label for="validationDefault05" class="informacion " >Dirección: </label>
      <input type="text" class="form-control" id="validationDefault05" value=""  required>
    </div>


  </div>

</form>

-->
