
<header class="header">
  <div class="container">
    RESTAURANTE
  </div>
  <div class="cerrar_sesion"><b>CERRAR SESION</b></div>
</header>
<div class="texto_nuevo_plato">
  <b>CLIENTES</b>
</div>
<table class="table">
  <thead class=".table-striped">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">cédula</th>
    <th scope="col">Nombre</th>
    <th scope="col">Dirección</th>
    <th scope="col">Ciudad</th>
    <th scope="col">Teléfono</th>
    <th scope="col">Email</th>
    <th scope="col">Fecha de Nacimiento</th>
  </tr>
  </thead>
  <tbody>
  <tr>

  </tr>
  </tbody>
</table>
<button type="button" class="btn btn-light" style="margin-left: 50px" (click)="regresar()">Regresar </button>
<button type="button" class="btn btn-success"  style="margin-left: 50px" (click)="anadir()">Añadir</button>
<button type="button" class="btn btn-warning"  style="margin-left: 50px" (click)="editar()">Editar</button>
<button type="button" class="btn btn-danger" style="margin-left: 50px" (click)="borrar()">Borrar</button>

<footer class="footer">
  &#9400; Copyright 2021 by Andres Vargas and Diego Marquez. All Rights Reserved
</footer>
