
<header class="header">
  <div class="container">
    RESTAURANTE
  </div>
  <div class="cerrar_sesion"><b>CERRAR SESION</b></div>
</header>
<div class="texto_nuevo_plato">
  <b>CLIENTES</b>
</div>
<table class="table">
  <thead class=".table-striped">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">cédula</th>
    <th scope="col">Nombre</th>
    <th scope="col">Dirección</th>
    <th scope="col">Ciudad</th>
    <th scope="col">Teléfono</th>
    <th scope="col">Email</th>
    <th scope="col">Fecha de Nacimiento</th>
  </tr>
  </thead>
  <tbody>
  <!--(click)="editar(cliente.id_cliente)-->
  <tr *ngFor="let cliente of clientes ">
    <th scope="row">{{cliente.id_cliente}}</th>
    <td>{{cliente.cedula}}</td>
    <td>{{cliente.nombre}}</td>
    <td>{{cliente.direccion }}</td>
    <td>{{cliente.ciudad}}</td>
  <td>{{cliente.telefono}}</td>
  <td>{{cliente.email }}</td>
  <td>{{cliente.fecha_nacimiento}}</td>
  </tr>
  </tbody>
</table>
<button type="button" class="btn btn-light" style="margin-left: 50px" (click)="regresar()">Regresar </button>
<button type="button" class="btn btn-success"  style="margin-left: 50px" (click)="anadir()">Añadir</button>


<footer class="footer">
  &#9400; Copyright 2021 by Andres Vargas and Diego Marquez. All Rights Reserved
</footer>
