
<header class="header">
  <div class="container">
    RESTAURANTE
  </div>
  <div class="cerrar_sesion"><b>CERRAR SESION</b></div>
</header>
<div class="texto_nuevo_plato">
  <b>LISTA DE COMPROBANTES</b>
</div>
<table class="table">
  <thead class=".table-striped">
  <tr>
    <th scope="col">ID</th>

    <th scope="col">Fecha</th>
    <th scope="col">Subtotal</th>
    <th scope="col">Total</th>
    <th scope="col">Estado</th>
    <th scope="col">Tipo</th>
    <th scope="col">Detalle</th>
    <th scope="col">Descuento</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let comprobante of comprobantes ">
    <th scope="row">{{comprobante.id_comprobante}}</th>
    <td>{{comprobante.fecha}}</td>
    <td>{{comprobante.subtotal}}</td>
    <td>{{comprobante.total}}</td>
    <td>{{comprobante.estado_Comprobante}}</td>
    <td>{{comprobante.tipo_comprobante}}</td>
    <td>{{comprobante.detalle }}</td>
    <td>{{comprobante.descuento}}</td>


  </tr>
  </tbody>
</table>
<button type="button" class="btn btn-light" style="margin-left: 50px" (click)="regresar()">Regresar </button>


<footer class="footer">
  &#9400; Copyright 2021 by Andres Vargas and Diego Marquez. All Rights Reserved
</footer>
