header{
  width: 100% ; height: 75px; background: rgba(255,255,255,1); z-index: 10; position: relative;
  top: 0; left: 0;  box-sizing: border-box;
  //box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;

}
.container{
  padding-left: 60px; box-sizing: border-box; color: rgba(45,45,45,1); font-size: 25px;padding-top: 22px;
  font-family: sans-serif;

  width: 40%;
  float: left;
}
.cerrar_sesion{
  float: left;

  width: 11%;
  height: 50px;
  padding-top: 15px;
  padding-left: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  background: rgba(45,45,45,1);
  color: rgba(255,255,255,1) ;
  font-family:  "fangsong";
  margin-left: 650px;
  margin-top: 10px;
}
.texto_categorias{
  width: 100%;
  box-sizing: border-box;
  font-size: 50px;
  font-family: fangsong;

  margin-top: 70px;
  padding-left: 60px;
  color: #2d2d2d;
  height: 100px;
  border-bottom: 1px solid #2d2d2d;

}

.footer{
  position: relative;
  background: rgba(45,45,45,1);
  height:70px;
  text-align: center;
  bottom: 0;
  width: 100%;
  margin-top: 650px;
  color: rgba(203,203,203,1);
  padding-top: 20px;
  box-sizing: border-box;
  font-size: 16px;

}
