<div class="principal">
  <div class="information">
    <h1>Stories from real people</h1>
    <p>Watch and read stories from the Codecademy community.</p>
    <div class="explore"><a href="#">Explore more Stories <svg style="color: #5533FF" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
    </svg></a> </div>
  </div>
  <div class="people_div">
    <div class="informacion_persona">
        <img [src]="urlPersona1">
      <div class="info"><a href="#"><h2>Taking a different path: One Team Led's story</h2><p>Giacomo S., Team Lead, London</p></a>
      </div>
    </div>


    <div class="informacion_persona">
      <img [src]="urlPersona2">
      <div class="info"><a href="#"><h2>See hoy this Architect switched to UX Design</h2><p>Alison V., Senior UX Designer @ Acquia, Columbus</p></a>

      </div>
    </div>
    <div class="informacion_persona">
      <img [src]="urlPersona3">
      <div class="info"><a href="#"><h2>Lessons from a Chef turned Deputy CTO</h2><p>Manuel s., Deputy CTO @ PaxFamilia, Brussels</p></a>
      </div>
    </div>
    <div class="informacion_persona">
      <img [src]="urlPersona4">
      <div class="info"><a href="#"><h2>How one Developer learned to code with her disability</h2><p>Rosito R., Front-End Developer, Brummen</p></a>
      </div>
    </div>
  </div>
</div>
