<div class="toolbar" role="banner">
  <div class="logo">
  <img [src]="urlLogo" alt=""  width="185" height="60">
  </div>
  <nav class="menu_opciones">
    <ul class="menu">
      <li><a href="#">Catalog</a></li>
      <li><a href="#">Resources</a>
        <ul class="submenu">
          <li><a href="#">Challenges</a></li>
          <li><a href="#">Docs</a></li>
          <li><a href="#">Cheatsheets</a></li>
          <li><a href="#">Articles</a></li>
          <li><a href="#">Videos</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Career Center</a></li>

        </ul>
      </li>
      <li><a href="#">Community</a>
        <ul class="submenu">
          <li><a href="#">Forums</a></li>
          <li><a href="#">Chat</a></li>
          <li><a href="#">Chapters</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Learner Stories</a></li>
        </ul>
      </li>
      <li><a href="#">Pro Pricing</a>
        <ul class="submenu">
          <li><a href="#">For Individuals</a></li>
          <li><a href="#">For Students</a></li>

        </ul>
      </li>
      <li><a href="#">For Business</a></li>
    </ul>

  </nav>
  <div class="logoBuscar">
    <svg  xmlns="http://www.w3.org/2000/svg"  width="40" height="40" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
  </div>

  <div class="log-in"><a href="../src/app/rutas/">Log In</a>
  </div>


</div>

<div class="marketing">
  <div class="foto_marketing">
    <img  style="border: 1px solid black" [src]="urlmarketing" alt=""  width="490" height="475"   >
  </div>
</div>
<div class="line"></div>
