<header class="header">
  <div class="container">
    RESTAURANTE
  </div>
  <div class="cerrar_sesion"><b>CERRAR SESION</b></div>
</header>
<div class="texto_nuevo_plato">
  <b>Forma de Pago</b>
</div>
<div class="principal_tipo">
  <div class="linea"></div>
  <div class="d-grid gap-2 " style="margin-top: 25px ; width: 90%; margin-left: 5%;   background: rgba(253,204,33,1)">
    <button class="btn btn-primary" type="button" style="background: rgba(45,45,45,1); height: 60px; border-radius: 20px; font-size: 25px; margin-bottom: 15px" (click)="factura()">Factura con Datos</button>
    <button class="btn btn-primary" type="button" style="background: rgba(45,45,45,1); height: 60px; border-radius: 20px; font-size: 25px ; margin-bottom: 15px" (click)="nota_venta()">Consumidor Final</button>
    <button class="btn btn-primary" type="button" style="background: rgba(45,45,45,1); width:20%; margin-left: 680px; height: 40px; border-radius: 20px; font-size: 15px ; margin-bottom: 15px" (click)="salir()">Salir</button>
  </div>
</div>




<footer class="footer">
  &#9400; Copyright 2021 by Andres Vargas and Diego Marquez. All Rights Reserved
</footer>
