
<div class="learning-principal">
  <div class="option-principal" >
    <div class="self">Self-paced learning that works</div>
    <div class="self-options" id="1"><a (click)='mostrarImagen(1)'  >Interactive, hands-on learning</a> </div>
    <div class="self-options" id="2"><a (click)='mostrarImagen(2)' >Design for all levels</a> </div>
    <div class="self-options" id="3"><a (click)='mostrarImagen(3)' >Guidance every step of the way</a> </div>
    <div class="self-options" id="4"><a (click)='mostrarImagen(4)' >Complete career-readniness</a> </div>
    <div class="self-options" id="5"><a (click)='mostrarImagen(5)' >The power of a coding community</a> </div>
  </div>

 // <div class="div_imagen">
  <img class="image"  [src]="urlImagen" />
</div>
</div>
